title {
    text-align: center;
    text-decoration: dodgerblue;
    border: ridge;
}
h1 {
    text-align: center;
    color: black;
    font-weight: bold;
    margin: 5px;
    border-color: cornflowerblue;
}
p {
    text-align: left;
    color: brown;
}
footer {
    text-align: left;
    color: black;
    padding: 10px;
    font-weight: bold;
}
li {
    color: black;
    font-weight: bold;
    margin: 5px;
}
p i {
    color: cornflowerblue;
    font-weight: bold;
    text-align: center;
}
body {
    background-color: mistyrose;
}
img {
    margin: 3px;
    width: 250px;
    height: 150px;
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
}
footer p {
    text-align: center;
}




